# Euklidisicher Algorithmus
Der hier gezeigte Euklidische Algorithmus ist eine Alternative zum Algorithmus mit Rückwärtseinsetzung aus Weitz.

In [3]:
import numpy as np
import pandas as pd

In [4]:
def erweiterter_euklidischer_algo(a0, a1):
    """
    Berechnet ein DataFrame df mit den Spalten 'a', 'x', 'y'.
    Die ersten beiden Zeilen sind
    a   x  y
    --------
    a0  1  0
    a1  0  1
    für jede weitere Spalte gilt
    ndf.iloc[i+2] ==  df.iloc[i] - q * df.iloc[i+1]  
    wobei q = df.iloc[i, 0] // df.iloc[i+1, 0].
    Die letze Zeile ist (ai, x, y), wobei
    ai = ggT(a0, a1) = x * a0 + y * a1
    
    :param a0: Erstes Argument für ggT
    :param a1: Zweites Argument für ggT
    :returns: Ein Dataframe, das die Berchnung des ggT
        mit dem erweiterten Euklidischen Algo zeigt.
    """
    arr =  np.array(
        [[a0, 1, 0], [a1, 0, 1]])
    while True:
        q = arr[-2, 0] // arr[-1, 0]
        neue_zeile = arr[-2] - q * arr[-1]
        if neue_zeile[0] == 0:
            break
        arr = np.vstack((arr, neue_zeile))
    return pd.DataFrame(arr, columns = ['a', 'x', 'y'])

In [5]:
erweiterter_euklidischer_algo(26, 20)

    a  x  y
0  26  1  0
1  20  0  1
2   6  1 -1
3   2 -3  4

## Erläuterung der Berechnung:
+ In der ersten Spalte stehen bei Berechnung des einfachen, nicht erweiterten Algorithmus:
    + 26 und 20, sind vorgegeben
    + 6 = 26 % 20
    + 2 = 20 % 6
    + Da 6 / 2 aufgeht, ist die Tabelle hier fertig
+ Die ersten beiden Zeilen $z_0$ und $z_1$ sind
    | a  | x | y |
    |----|---|---|
    | a0 | 0 | 1 |
    | a1 | 1 | 0 |
    
    Dabei sind a1 und a2 die Zahlen, von denen der ggT berechnet werden sollte.
+ Für jede weitere Zeile $z_{i+2}$ gilt:    
  $z_{i+2} = z_{i} - q \cdot z_{i+1}$,    
  wobei $q = a_i[0] \ // \ a_{i+1}[0]$    
  In der letzten Zeile steht der $ggT(a_0,a_1) = a_i$ sowie $x$ und $y$ mit
  $a_i = x \cdot a_0 + y \cdot a_1$
    
  Also hier gilt $ggT(26, 6) = 2 = -3 \cdot 26 + 4 \cdot 20$

### Bemerkung zu Pandas
pandas wurde nur verwendet, weil die Pandas-Tabellen in Jupyter-Notebooks schöner dargestellt werden.